@inject IJobService JobService
@inject ILocationService LocationService
@inject ISkillService SkillService

<div>
	<form id="filter-bar">
		<select @onchange="OnChangeDistance">
			<option disabled selected>@translatedMaxDistance</option>
			<option value="1">1 km</option>
			<option value="5">5 km</option>
			<option value="10">10 km</option>
			<option value="25">25 km</option>
			<option value="50">50 km</option>
			<option value="100">100 km</option>
		</select>
		<select multiple @onchange="SelectSkills" class="multi-select">
			@foreach (var skill in skills)
			{
				<option value="@skill.Name">@skill.Name</option>
			}
		</select>
	</form>
</div>

<ul id="jobs">
	@foreach (var job in Jobs)
	{
		<JobCard User="User" Job="job" NavigationManager="NavigationManager" LocationService="LocationService" ApplicationService="ApplicationService" TranslationService="TranslationService" JSRuntime="JSRuntime" />
	}
</ul>

@if (_isLoading)
{
	<Loader />
}

@code {
	[Parameter]
	public NavigationManager NavigationManager { get; set; }
	[Parameter]
	public IApplicationService ApplicationService { get; set; }
	[Parameter]
	public ClaimsPrincipal User { get; set; }
	[Parameter]
	public TranslationService TranslationService { get; set; }
	[Parameter]
	public IJSRuntime JSRuntime { get; set; }

	private bool _isLoading;

	private string translatedMaxDistance;

	private IEnumerable<JobResponseDto> Jobs { get; set; } = Enumerable.Empty<JobResponseDto>();
	private IEnumerable<SkillResponseDto> skills { get; set; } = Enumerable.Empty<SkillResponseDto>();

	private int Distance { get; set; } = int.MaxValue;
	private IEnumerable<string> SelectedSkills { get; set; } = Enumerable.Empty<string>();

	protected override async Task OnInitializedAsync()
	{
		Jobs = await JobService.GetAllJobsForEmployeesAsync();
		skills = await SkillService.GetSkillsAsync();
		await LoadTranslations();
	}

	private async Task FilterJobs()
	{
		var allJobs = await JobService.GetAllJobsForEmployeesAsync();

		Jobs = allJobs.Where(j =>
			(Distance == int.MaxValue || LocationService.GetDistance(j.Latitude, j.Longitude) <= Distance) &&
			(SelectedSkills.Count() == 0 || j.Skills.Any(skill => SelectedSkills.Contains(skill.Name)))
		);
	}

	private async Task OnChangeDistance(ChangeEventArgs e)
	{
		Distance = int.Parse(e.Value.ToString());
		await FilterJobs();
	}

	private async Task SelectSkills(ChangeEventArgs e)
	{
		var selectedOptions = e.Value as IEnumerable<string>;
		SelectedSkills = selectedOptions?.ToList() ?? new List<string>();
		await FilterJobs();
	}

	private async Task LoadTranslations()
	{
		_isLoading = true;
		StateHasChanged();

		var language = await JSRuntime.InvokeAsync<string>("getBrowserLanguage");
		language = language.Substring(0, 2).ToLower();

		translatedMaxDistance = await TranslationService.TranslateAsync("--Choose the maximum distance--", language);

		_isLoading = false;
		StateHasChanged();
	}
}
