<li id="@Job.Id" @onclick="SeeJobDetails">
	<h3>@Job.Name</h3>
	<p>@Job.Salary</p>
	<p>Distance</p>  <!-- This will be a calculated distance depending on job location and your location -->
</li>

@code {
	[Parameter]
	public JobResponseDto Job { get; set; }
	[Parameter]
	public NavigationManager NavigationManager { get; set; }

	private void SeeJobDetails() {
		NavigationManager.NavigateTo($"/job/{Job.Id}");
	}
}
