@using System.Security.Claims;

@if (User?.Identity?.IsAuthenticated == true)
{
    <details class="profile-menu">
        <summary class="profile-summary">@User.Claims.FirstOrDefault(c => c.Type.Contains("name"))?.Value</summary>
        <ul class="profile-options">
            <li><a href="/" class="profile-link">Home</a></li>
            <li><a href="/chat" class="profile-link">Messages</a></li>
            <li><a href="/user/@User.Claims.First(c => c.Type.Contains("nameidentifier")).Value" class="profile-link">Profile</a></li>
            <li @onclick="Logout" class="logout-button">Logout</li>
        </ul>
    </details>
}

@code {
    [Parameter]
    public ClaimsPrincipal User { get; set; }
    [Parameter]
	public AuthenticationStateProvider AuthStateProvider { get; set; }
    [Parameter]
	public NavigationManager NavigationManager { get; set; }

    protected override void OnParametersSet()
    {
        if (User == null)
        {
            User = new ClaimsPrincipal(new ClaimsIdentity());
        }
    }

	private async Task Logout()
	{
        if (AuthStateProvider is CustomAuthenticationStateProvider customAuthStateProvider)
        {
            await customAuthStateProvider.LogoutAsync();
			NavigationManager.NavigateTo("/auth");
        }
	}
}
