@using System.Security.Claims;

@if (User?.Identity?.IsAuthenticated == true)
{
    <details>
        <summary>@User.Claims.FirstOrDefault(c => c.Type.Contains("name"))?.Value</summary>
            <ul>
                <li><a href="/">Home</a></li>
                <li @onclick="Logout">Logout</li>
            </ul>
    </details>
}

@code {
    [Parameter]
    public ClaimsPrincipal User { get; set; }
    [Parameter]
	public AuthenticationStateProvider AuthStateProvider { get; set; }
    [Parameter]
	public NavigationManager NavigationManager { get; set; }

    protected override void OnParametersSet()
    {
        if (User == null)
        {
            User = new ClaimsPrincipal(new ClaimsIdentity());
        }
    }

	private async Task Logout()
	{
        if (AuthStateProvider is CustomAuthenticationStateProvider customAuthStateProvider)
        {
            await customAuthStateProvider.LogoutAsync();
			NavigationManager.NavigateTo("/auth");
        }
	}
}
