<li class="review-card">
	<p class="reviewer-name">Reviewer: @review.ReviewerName</p>
	<p class="review-rating">Rating: @review.Rating</p>
	<p class="review-comment">@review.Comment</p>
</li>

@code {
	[Parameter]
	public ReviewResponseDto review { get; set; }
}
