@page "/auth"
@rendermode InteractiveServer

@if(IsRegistered)
{
	<LoginForm />
	<p class="register-link" @onclick="ToggleRegistration">Don't have an account yet? Click here to register</p>
}
else
{
	<RegistrationForm />
}

@code {
	public bool IsRegistered { get; set; } = true;

	public void ToggleRegistration()
	{
		IsRegistered = !IsRegistered;
	}
}
