@page "/chat/{Guid:id}"

@inherits SecurePageBase

@inject IChatService _chatService

<div class="chat-container">
    <!-- Sidebar: List of chats -->
    <div class="chat-sidebar">
        <h3>Chats</h3>
        <ul>

        </ul>
    </div>

    <!-- Main Chat Window -->
    <div class="chat-main">

    </div>
</div>

@code {
    [Parameter]
	public Guid? id { get; set; }

    private IEnumerable<AccountResponseDto> _chats = new List<AccountResponseDto>();

	private AccountResponseDto _selectedChat;
	private IEnumerable<MessageResponseDto> _messages = new List<MessageResponseDto>();

    private bool _chatsLoaded;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);
        var id = User.Claims.First(c => c.Type.Contains("nameidentifier")).Value;

        if (firstRender && !_chatsLoaded)
        {
			_chatsLoaded = true;

            _chats = await _chatService.GetChatPartnersAsync(Guid.Parse(id));

			if (id != null)
			{
				_selectedChat = _chats.FirstOrDefault(c => c.Id == Guid.Parse(id));

				if (_selectedChat != null)
				{
					_messages = await _chatService.GetConversationAsync(Guid.Parse(id), _selectedChat.Id);
				}
			}
        }
    }
}
