@page "/"
@inherits SecurePageBase

@rendermode InteractiveServer

@inject IApplicationService ApplicationService

<PageTitle>Home</PageTitle>

@if (User == null)
{
    <p>Loading...</p>
}
else if (User.Claims.Any(c => c.Type.Contains("role") && c.Value == "Employer"))
{
    <Header User="User" AuthStateProvider="AuthStateProvider" NavigationManager="NavigationManager" />
    <EmployerHome User="User" NavigationManager="NavigationManager" ApplicationService="ApplicationService"/>
}
else
{
    <Header User="User" AuthStateProvider="AuthStateProvider" NavigationManager="NavigationManager" />
    <EmployeeHome User="User" NavigationManager="NavigationManager" ApplicationService="ApplicationService"/>
}

@code {
	
}