@page "/"

<section class="hero">
    <div class="hero-content">
        <h1>Find quick gigs. Earn extra cash.</h1>
        <p>Whether you need a helping hand or want to put your skills to work, our platform connects you with local opportunities in just a few clicks!</p>
        <a href="/home" class="btn btn-primary">Get Started</a>
    </div>
</section>

@code {

}
