@page "/job/{jobId}"
@inherits SecurePageBase
@rendermode InteractiveServer

@inject IJobService JobService
@inject IApplicationService ApplicationService

@if (Job == null)
{
    <p>Loading...</p>
}
else
{
    <h1>@Job.Name</h1>
    <p>@Job.Description</p>

    @if (User.Claims.Any(c => c.Type.Contains("role") && c.Value == "Employee"))
    {
        <div>
            <button class="btn btn-primary" @onclick="Apply">Apply</button>
        </div>
    }
}

@code {
    [Parameter]
    public string JobId { get; set; }

    private JobResponseDto Job { get; set; }

    private bool _isJobLoaded;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);

        if (firstRender && !_isJobLoaded)
        {
            _isJobLoaded = true;

            if (!string.IsNullOrEmpty(JobId))
            {
                Job = await JobService.GetJobByIdAsync(Guid.Parse(JobId));
                StateHasChanged();
            }
        }
    }

    private async Task Apply()
    {
		var dto = new ApplicationRequestDto
	    {
			JobId = Job.Id,
            CandidateId = Guid.Parse(User.Claims.First(c => c.Type.Contains("nameidentifier")).Value)
		};
		await ApplicationService.ApplyAsync(dto);
    }
}